*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
  background-color:rgb(17, 184, 156);
}

  
.container{
    background-color: rgb(200, 184, 56);
min-width: 500px;
   width: 250px;
   position: absolute;
   top: 30%;
   transform: translatel(-50%, -50%);
   left: 32%;
   padding: 20px 0px;
   padding-bottom: 50px;
   border-radius: 10px;
   /* display: inline; */
}
@media screen and (max-width: 600px) {
    /* Styles for screens with a maximum width of 600px */
    .container {
        width: 100%;
    }
}

.time{
    position: relative;
    width: 20px;
    left: 100px;
    padding: 40px;
    align-items: center;
    font-size: 65px;
    display: flex;
    justify-content:flex-start;
    border-radius: 5px;
}
.buttons{
    width: 500px;
    height: 50px;
    background-color: rgb(214, 154, 98);
    text-align: center;
    position: relative;
    border-radius: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: palegreen;
    display: flex;
    justify-content: space-evenly;
    padding: 13px;
    /* cursor: pointer; */
}

.buttons div{
    display: inline-block;
   
}
.buttons button{
    height: 30px;
    width: 65px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    
    /* background-color: yellow; */
}

#button1:hover{
    background-color: gold;
}
#button2:hover{
    background-color: gold;
}
#button3:hover{
    background-color: gold;
}
#button4:hover{
    background-color: gold;
}
#button1{
   
    background-color: aqua;
}
#button2{
    background-color: lightgray;
}
#button3{
    background-color: palegreen;
}
#button4{
    color: bisque;
  
    background-color: red;
    text-decoration: solid;
    background-color: chartreuse;
}
